# misc - system and editor files
.vscode/
.DS_STORE
.idea


# latex make files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.dvi
*.xdv
*-converted-to.*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex\(busy\)
*.synctex.gz*
